  <%= form_with model: @item, local: true do |f| %>

    <div class="field">
      <%= f.label :image, "商品画像" %>
      <span class="indispensable">必須</span><br />
      <%= f.file_field :image, placeholder: "画像をアップロード" %>
    </div>

    <div class="field">
      <%= f.label :name, "商品名" %>
      <span class="indispensable">必須</span><br />
      <%= f.text_field :name, placeholder: "例）お気に入りのリップ" %>
    </div>

    <div class="field">
      <%= f.label :category_id, "カテゴリー" %>
      <span class="indispensable">必須</span><br />
      <%= f.collection_select(:category_id, Category.all, :id, :name, {}, {class:"select-box", id:"item-category"}) %>
    </div>

    <div class="field">
      <%= f.label :genre_id, "価格帯" %>
      <span class="indispensable">必須</span><br />
      <%= f.collection_select(:genre_id, Genre.all, :id, :name, {}, {class:"select-box", id:"item-category"}) %><br />
    </div>

    <div class="field">
      <%= f.label :price, "購入価格（半角数字のみ）" %><br />
      <%= f.text_field :price, placeholder: "例）300" %><br />
    </div>

    <div class="field">
      <%= f.label :purchase_date, "購入日" %><br />
      <div class="input-date">
      <%= raw sprintf(
                    f.date_select(
                      :purchase_date,
                      use_month_numbers: true,
                      prompt:'--',
                      start_year: Time.now.year-3,
                      end_year: Time.now.year,
                      date_separator: '%s'),
                    "<p> 年 </p>", "<p> 月 </p>") + "<p> 日 </p>" %>
      </div>
    </div>

    <div class="field">
      <%= f.label :opening_date, "開封日" %><br />
      <div class="input-date">
      <%= raw sprintf(
                    f.date_select(
                      :opening_date,
                      use_month_numbers: true,
                      prompt:'--',
                      start_year: Time.now.year-3,
                      end_year: Time.now.year,
                      date_separator: '%s'),
                    "<p> 年 </p>", "<p> 月 </p>") + "<p> 日 </p>" %>
      </div>
    </div>

    <div class="actions">
      <%= f.submit "SEND", class: :form__btn %>
    </div>
  <% end %>
