<p><%= link_to image_tag(item.image.variant(resize: '500x500')), item_path(item.id) %></p>
<p><%= item.name %></p>
<p><%= item.category.name %></p>
<p><%= item.genre.name %></p>
<%# <%= link_to "by #{item.user.name}", user_path(item.user_id) %>
